* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosso1: #c5142d;
    --rosso2: #eb1735;
    --rosso3: #b71229;
    --rosso4: #6a0a17;
    --bianco1: #ffffff;
    --stelle: #ffc800;
    --nero1: #000000;
}

@font-face {
    font-family: Kalam-Bold;
    src: url(./src/fonts/Kalam-Bold.ttf);
}

@font-face {
    font-family: Kalam-Light;
    src: url(./src/fonts/Kalam-Light.ttf);
}

body {
    font-family: Kalam-Bold;
}

nav {
    background-color: var(--rosso3);
    padding: 40px;
}

.barra_navigazione {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo_nav {
    font-size: 50px;
    padding: 10px;
}

#logo_nav > a {
    text-decoration: none;
    color: var(--bianco1);
}

@keyframes animazione_nav {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

#elemento_nav {
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    color: var(--bianco1);
}

.barra_navigazione > a:hover {
    animation-name: animazione_nav;
    animation-duration: 1s;
}

article {
    padding: 50px;
    display: flex;
    align-items: center;
}

.contenitore_recensioni {
    display: flex;
    justify-content: space-around;
}

.recensioni {
    border: 5px solid var(--rosso3);
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 20px;
    font-family: Kalam-Light;
}

.checked { 
    color: var(--stelle);
}

.lascia_una_recensione {
    display: flex;
    justify-content: center;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: var(--stelle);    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: var(--stelle);  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

article > img {
    border: 5px solid var(--rosso2);
    border-radius: 20px;
    width: 500px;
}

article > p {
    font-family: Kalam-Light;
    font-size: 20px;
    text-align: justify;
    padding: 100px;
}

footer {
    background-color: var(--rosso3);
    padding: 50px 0;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
}

.footer_section {
    flex: 1;
    padding: 0 20px;
}

.footer_section > h1, h2 {
    color: var(--bianco1);
    margin-bottom: 10px;
}

.footer_section p {
    color: var(--bianco1);
    margin-bottom: 5px;
}

.footer_section > p > a {
    text-decoration: none;
    color: var(--bianco1);
}

.footer_section ul {
    list-style-type: none;
    padding-left: 0;
}

.footer_section ul li {
    margin-bottom: 5px;
}

.footer_section ul li a {
    color: var(--bianco1);
    text-decoration: none;
    font-size: 25px;
}

.social_links {
    display: flex;
    padding-left: 0;
}

.social_links li {
    margin-right: 10px;
}

.social_links li:last-child {
    margin-right: 0;
}

.social_links li a img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 670px) {
    #logo_nav > a {
        text-decoration: none;
        color: var(--bianco1);
        font-size: 30px;
    }

    #logo_giglio {
        width: 100px;
    }

    article {
        padding: 0px;
    }
}

@media only screen and (max-width: 1300px) {
    article > img {
        display: none;
    }

    article > h1 {
        display: none;
    }

    nav > a {
        display: none;
    }

    footer {
        background-color: var(--rosso3);
        color: #fff;
        padding: 20px 0;
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer_section {
        flex: 1 1 300px;
        margin-right: 20px;
    }

    .footer_section img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .footer_section ul {
        list-style: none;
        padding: 0;
    }

    .footer_section ul li {
        margin-bottom: 10px;
    }

    .footer_section ul li a {
        color: #fff;
        text-decoration: none;
    }

    .social_links {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .social_links li {
        margin-right: 10px;
    }

    .social_links li:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 800px) {
    article > p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 800px) {
    article > p {
        font-size: 20px;
    }
}